/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  color: #2C3E50;
}

header {
  background-color: #1F1F1F;
}

header .nav-link {
  color: #ECEFF1;
  transition: color 0.3s ease-in-out;
}

header .nav-link:hover {
  color: #FFC107;
}

.logo img {
  height: 40px;
}

.section-spacing {
  padding-top: 80px;
  margin-top: -80px;
}

.btn-primary {
  background-color: #4caf50 !important;
  border: none !important;
  color: #FFFFFF !important;
}

.btn-primary:hover {
  background-color: #388E3C !important;
  color: #FFFFFF !important;
}

footer {
  background-color: #1F1F1F;
  color: #ECEFF1;
}

footer a {
  color: #FFC107 !important;
}

footer a:hover {
  color: #FFFFFF !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 100%;
  height: 500px;
}
