/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  color: #2C3E50;
}

header {
  background-color: #1F1F1F;
}

.logo img {
  height: 40px;
}

.section-spacing {
  padding-top: 80px;
  margin-top: -80px;
}

.btn-primary {
  background-color: #4caf50 !important;
  border: none !important;
  color: #FFFFFF !important;
}

.btn-primary:hover {
  background-color: #388E3C !important;
  color: #FFFFFF !important;
}

footer {
  background-color: #1F1F1F;
  color: #ECEFF1;
}

footer a {
  color: #FFC107 !important;
}

footer a:hover {
  color: #FFFFFF !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 100%;
  height: 500px;
}

/* Navbar Container */

/* Navbar Brand */
.custom-navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFC107; /* Amber */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.custom-navbar-brand:hover {
  color: #FFFFFF; /* White on hover */
}

/* Navbar Links */
.custom-nav-links .nav-link {
  color: #ECEFF1; /* Light gray text */
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out;
}

.custom-nav-links .nav-link:hover {
  color: #FFC107; /* Amber on hover */
}

/* Navbar Toggle (Hamburger Menu) */
.navbar-toggler {
  border-color: #FFC107; /* Amber border */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Mobile Menu (Collapsible Links) */
.navbar-collapse {
  background-color: none; /* Match navbar background */
}

